* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

/* variables */
:root {
  /* ## Colors */

  /* ### Primary */

  --primary-600: hsl(185, 75%, 39%);
  --primary-950: hsl(229, 23%, 23%);
  --primary-500: hsl(227, 10%, 46%);

  /* ### Neutral */

  --neutral-100: hsl(225, 10%, 92%);

  /* font stuff */

  --ff-base: "Kumbh Sans", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* base styling */
body {
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 4rem;
  color: var(--primary-950);
  background-color: var(--primary-600);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat no-repeat;
  background-position: top -150px left -200px, bottom -150px right -200px;
  background-size: contain;
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
}

/* component styling */
main {
  padding: 0 1rem;
}
.profile-card {
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  border-radius: 1em;
  background-color: var(--neutral-100);
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px;
  transition: transform 1s ease, box-shadow 1s ease;
}
.profile-card:hover {
  transform: scale(1.02);
  box-shadow: rgba(17, 17, 26, 0.4) 0px 8px 24px;
}

.profile-pic {
  border: 6px solid var(--neutral-100);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 50px;
}
.user-info {
  margin: 4rem 0 3rem 0;
}
.user-name {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: clamp(1.2rem, 1.1rem + 0.267vw, 1.3rem);
}

.user-age,
.user-location {
  color: var(--primary-500);
  font-weight: var(--fw-regular);
}

.stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.262);
}

.stat-number {
  font-size: clamp(1.2rem, 1.1rem + 0.267vw, 1.3rem);
}
.stat .stat-label {
  margin-top: 0.5rem;
  color: var(--primary-500);
  font-weight: var(--fw-regular);
}
/* footer */
.attribution {
  text-align: center;
}
.attribution a {
  margin-left: 0.4rem;
  position: relative;
  background: #30c5c7;
  background: linear-gradient(to right, #30c5c7 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

.attribution a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #30c5c7, #ffffff);
  border-radius: 0.125em;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.attribution a:hover::after {
  transform: scaleX(1);
}
/* media query */

@media (min-width: 525px) {
  body {
    background-position: top -325px left -325px, bottom -325px right -325px;
  }
}
